#cart-dropdown-main-div{
	position: absolute;
	width: 240px;
	height: 340px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	border: 1px solid black;
	background-color: white;
	right:20px;
	z-index: 1;
	align-items: center;

	#cart-dropdown-cart-items-div{
		height: 80%;
		width: 100%;
		display: flex;
		flex-direction: column;
		overflow: scroll;
		border: 1px solid black;

		#cart-dropdown-no-items{
			text-align: center;
			margin: 50px 10px;
			padding: 50px 10px;
		}
	}
	#cart-dropdown-button-div{
		margin-top: auto;
	}
}