.shop-item{
	width: 22%;
	display: flex;
	flex-direction: column;
	height: 350px;
	align-items: center;
	margin: 15px;

	.shop-item-image{
		width: 100%;
		height: 95%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		margin-bottom: 5px;
		position: relative;
	}

	.shop-item-footer{
		width: 100%;
		height: 5%;
		display: flex;
		justify-content: space-between;
		font-size: 18px;

		.shopt-item-name{
			width: 80%;
			margin-bottom: 15px;
		}
		.shopt-item-price{
			width: 10%;
			margin-right: 3%;
		}
	}
	#button-shop-item{
		width: 80%;
		opacity: 0.7;
		position: absolute;
		margin-top: 20%;
		display: none;
	}
	&:hover{
		.shop-item-image{
			opacity: 0.8;
		}
		#button-shop-item{
			opacity: 0.8;
			display: flex;
		}
	}
}